html,body{ padding:0px; margin:0px; background:#f5f5f5; font-family:"Microsoft YaHei", "微软雅黑"; color:#555}



/*快捷样式*/

.cf:after,.cf:before{content:" ";display:table}

.cf:after{clear:both}

.fl{float:left}

.fr{float:right}

.nbfc{overflow:hidden}

.center{ text-align:center}

.block{display:block!important}

.inline{display:inline!important}

.inline-block{display:inline-block!important}

.hide{display:none!important;visibility:hidden!important}

.margin{margin:1.6rem}

.margin-xs{margin:.5rem}

.margin-sm{margin:1rem}

.margin-lg{margin:2.4rem}

.margin-xl{margin:3.2rem}

.margin-horizontal{margin-left:1.6rem;margin-right:1.6rem}

.margin-horizontal-xs{margin-left:.5rem;margin-right:.5rem}

.margin-horizontal-sm{margin-left:1rem;margin-right:1rem}

.margin-horizontal-lg{margin-left:2.4rem;margin-right:2.4rem}

.margin-horizontal-xl{margin-left:3.2rem;margin-right:3.2rem}

.margin-vertical{margin-top:1.6rem;margin-bottom:1.6rem}

.margin-vertical-xs{margin-top:.5rem;margin-bottom:.5rem}

.margin-vertical-sm{margin-top:1rem;margin-bottom:1rem}

.margin-vertical-lg{margin-top:2.4rem;margin-bottom:2.4rem}

.margin-vertical-xl{margin-top:3.2rem;margin-bottom:3.2rem}

.margin-top{margin-top:1.6rem}

.margin-top-xs{margin-top:.5rem}

.margin-top-sm{margin-top:1rem}

.margin-top-lg{margin-top:2.4rem}

.margin-top-xl{margin-top:3.2rem}

.margin-bottom{margin-bottom:1.6rem}

.margin-bottom-xs{margin-bottom:.5rem}

.margin-bottom-sm{margin-bottom:1rem}

.margin-bottom-lg{margin-bottom:2.4rem}

.margin-bottom-xl{margin-bottom:3.2rem}

.margin-left{margin-left:1.6rem}

.margin-left-xs{margin-left:.5rem}

.margin-left-sm{margin-left:1rem}

.margin-left-lg{margin-left:2.4rem}

.margin-left-xl{margin-left:3.2rem}

.margin-right{margin-right:1.6rem}

.margin-right-xs{margin-right:.5rem}

.margin-right-sm{margin-right:1rem}

.margin-right-lg{margin-right:2.4rem}

.margin-right-xl{margin-right:3.2rem}

.padding{padding:1.6rem}

.padding-xs{padding:.5rem}

.padding-sm{padding:1rem}

.padding-lg{padding:2.4rem}

.padding-xl{padding:3.2rem}

.padding-horizontal{padding-left:1.6rem;padding-right:1.6rem}

.padding-horizontal-xs{padding-left:.5rem;padding-right:.5rem}

.padding-horizontal-sm{padding-left:1rem;padding-right:1rem}

.padding-horizontal-lg{padding-left:2.4rem;padding-right:2.4rem}

.padding-horizontal-xl{padding-left:3.2rem;padding-right:3.2rem}

.padding-vertical{padding-top:1.6rem;padding-bottom:1.6rem}

.padding-vertical-xs{padding-top:.5rem;padding-bottom:.5rem}

.padding-vertical-sm{padding-top:1rem;padding-bottom:1rem}

.padding-vertical-lg{padding-top:2.4rem;padding-bottom:2.4rem}

.padding-vertical-xl{padding-top:3.2rem;padding-bottom:3.2rem}

.padding-top{padding-top:1.6rem}

.padding-top-xs{padding-top:.5rem}

.padding-top-sm{padding-top:1rem}

.padding-top-lg{padding-top:2.4rem}

.padding-top-xl{padding-top:3.2rem}

.padding-bottom{padding-bottom:1.6rem}

.padding-bottom-xs{padding-bottom:.5rem}

.padding-bottom-sm{padding-bottom:1rem}

.padding-bottom-lg{padding-bottom:2.4rem}

.padding-bottom-xl{padding-bottom:3.2rem}

.padding-left{padding-left:1.6rem}

.padding-left-xs{padding-left:.5rem}

.padding-left-sm{padding-left:1rem}

.padding-left-lg{padding-left:2.4rem}

.padding-left-xl{padding-left:3.2rem}

.padding-right{padding-right:1.6rem}

.padding-right-xs{padding-right:.5rem}

.padding-right-sm{padding-right:1rem}

.padding-right-lg{padding-right:2.4rem}

.padding-right-xl{padding-right:3.2rem}

.text-primary{color:#0e90d2}

.text-secondary{color:#3bb4f2}

.text-success{color:#5eb95e}

.text-warning{color:#f37b1d}

.text-danger{color:#dd514c}

.link-muted,.link-muted a{color:#666}

.link-muted a:hover,.link-muted:hover{color:#555}

.text-default{font-size:1.6rem}



/*动画*/

[class*=animation-]{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@media screen{.cssanimations [data-scrollspy*=animation]{opacity:0}

}

.animation-fade{-webkit-animation-name:fade;animation-name:fade;-webkit-animation-duration:.8s;animation-duration:.8s;-webkit-animation-timing-function:linear;animation-timing-function:linear}

.animation-scale-up{-webkit-animation-name:scale-up;animation-name:scale-up}

.animation-scale-down{-webkit-animation-name:scale-down;animation-name:scale-down}

.animation-slide-top{-webkit-animation-name:slide-top;animation-name:slide-top}

.animation-slide-bottom{-webkit-animation-name:slide-bottom;animation-name:slide-bottom}

.animation-slide-left{-webkit-animation-name:slide-left;animation-name:slide-left}

.animation-slide-right{-webkit-animation-name:slide-right;animation-name:slide-right}

.animation-slide-top-fixed{-webkit-animation-name:slide-top-fixed;animation-name:slide-top-fixed}

.animation-shake{-webkit-animation-name:shake;animation-name:shake}

.animation-spin{-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}

.animation-left-spring{-webkit-animation:left-spring .3s ease-in-out;animation:left-spring .3s ease-in-out}

.animation-right-spring{-webkit-animation:right-spring .3s ease-in-out;animation:right-spring .3s ease-in-out}

.animation-reverse{-webkit-animation-direction:reverse;animation-direction:reverse}

.animation-paused{-webkit-animation-play-state:paused!important;animation-play-state:paused!important}

.animation-delay-1{-webkit-animation-delay:0s;animation-delay:0s}

.animation-delay-2{-webkit-animation-delay:0.3s;animation-delay:0.3s}

.animation-delay-3{-webkit-animation-delay:0.6s;animation-delay:0.6s}

.animation-delay-4{-webkit-animation-delay:0.9s;animation-delay:0.9s}

.animation-delay-5{-webkit-animation-delay:1.2s;animation-delay:1.2s}

.animation-delay-6{-webkit-animation-delay:1.5s;animation-delay:1.5s}

.animation-delay-8{-webkit-animation-delay:1.8s;animation-delay:1.8s}

.animation-delay-9{-webkit-animation-delay:2.1s;animation-delay:2.1s}

.animation-delay-10{-webkit-animation-delay:2.4s;animation-delay:2.4s}

.animation-delay-11{-webkit-animation-delay:2.7s;animation-delay:2.7s}





@-webkit-keyframes fade{0%{opacity:0}

100%{opacity:1}

}

@keyframes fade{0%{opacity:0}

100%{opacity:1}

}

@-webkit-keyframes scale-up{0%{opacity:0;-webkit-transform:scale(.2);transform:scale(.2)}

100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}

}

@keyframes scale-up{0%{opacity:0;-webkit-transform:scale(.2);transform:scale(.2)}

100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}

}

@-webkit-keyframes scale-down{0%{opacity:0;-webkit-transform:scale(1.8);transform:scale(1.8)}

100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}

}

@keyframes scale-down{0%{opacity:0;-webkit-transform:scale(1.8);transform:scale(1.8)}

100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}

}

@-webkit-keyframes slide-top{0%{opacity:0;-webkit-transform:translateY(-100%);transform:translateY(-100%)}

100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}

}

@keyframes slide-top{0%{opacity:0;-webkit-transform:translateY(-100%);transform:translateY(-100%)}

100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}

}

@-webkit-keyframes slide-bottom{0%{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%)}

100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slide-bottom{0%{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}@-webkit-keyframes slide-left{0%{opacity:0;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes slide-left{0%{opacity:0;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes slide-right{0%{opacity:0;-webkit-transform:translateX(100%);transform:translateX(100%)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes slide-right{0%{opacity:0;-webkit-transform:translateX(100%);transform:translateX(100%)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}
10%{-webkit-transform:translateX(-9px);transform:translateX(-9px)}
20%{-webkit-transform:translateX(8px);transform:translateX(8px)}
30%{-webkit-transform:translateX(-7px);transform:translateX(-7px)}
40%{-webkit-transform:translateX(6px);transform:translateX(6px)}
50%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}
60%{-webkit-transform:translateX(4px);transform:translateX(4px)}
70%{-webkit-transform:translateX(-3px);transform:translateX(-3px)}
80%{-webkit-transform:translateX(2px);transform:translateX(2px)}
90%{-webkit-transform:translateX(-1px);transform:translateX(-1px)}
}
@keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}
10%{-webkit-transform:translateX(-9px);transform:translateX(-9px)}
20%{-webkit-transform:translateX(8px);transform:translateX(8px)}
30%{-webkit-transform:translateX(-7px);transform:translateX(-7px)}
40%{-webkit-transform:translateX(6px);transform:translateX(6px)}
50%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}
60%{-webkit-transform:translateX(4px);transform:translateX(4px)}
70%{-webkit-transform:translateX(-3px);transform:translateX(-3px)}
80%{-webkit-transform:translateX(2px);transform:translateX(2px)}
90%{-webkit-transform:translateX(-1px);transform:translateX(-1px)}
}
@-webkit-keyframes slide-top-fixed{0%{opacity:0;-webkit-transform:translateY(-10px);transform:translateY(-10px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slide-top-fixed{0%{opacity:0;-webkit-transform:translateY(-10px);transform:translateY(-10px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes slide-bottom-fixed{0%{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slide-bottom-fixed{0%{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@keyframes spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@-webkit-keyframes right-spring{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}
50%{-webkit-transform:translateX(-20%);transform:translateX(-20%)}
}
@keyframes right-spring{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}
50%{-webkit-transform:translateX(-20%);transform:translateX(-20%)}
}
@-webkit-keyframes left-spring{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}
50%{-webkit-transform:translateX(20%);transform:translateX(20%)}
}
@keyframes left-spring{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}
50%{-webkit-transform:translateX(20%);transform:translateX(20%)}
}




header{ background:#fff; text-align:center; padding:10px 0px; font-size:20px; border-bottom:1px solid #e0e0e0; position:relative}
header .head_back{ position:absolute;left:10px;top:10px; font-size:15px; display:block; width:50px; line-height:30px; background:#f6f6f6; color:#777}
header .head_search{ position:absolute;right:10px;top:10px; font-size:15px; display:block; width:50px; line-height:30px; background:#f6f6f6; color:#777}



.content{ border-bottom:1px solid #e0e0e0}
.ico_list{ border-top:1px solid #e0e0e0; margin-top:20px}
.ico_list ul{ background:#fff; overflow:hidden; width:100%; margin: 0 auto; font-size:0px;white-space:nowrap;}
.ico_list li{ border:1px solid #e0e0e0; display:inline-block; width:25%; margin-left:-1px; margin-top:-1px; text-align:center; padding:13px 0px 10px 0px; }
.ico_list li a{ display:block; font-size:14px; color:#666}
.ico_list li img{ width:45%}
.ico_list li span{ display:block; margin-top:5px}
.ico_list li.nobr{ border-right:none}
.empty{ height:100px;}
footer{ background: #fff; position:fixed; bottom:0px;left:0px; width:100%; height:55px; border-top:1px solid #e0e0e0;white-space:nowrap;}
footer li{ width:24.5%; text-align:center; display:inline-block}
footer i{ display:block; color:#686f73; margin-top:-6px}
footer span{ display: inline-block; height:27px; width:27px; text-align:center; margin-top:6px}
footer .f1{ background:url(../img/footer/f1.png) center top no-repeat;background-size:contain}
footer .f2{ background:url(../img/footer/f2.png) center top no-repeat;background-size:contain}
footer .f3{ background:url(../img/footer/f3.png) center top no-repeat;background-size:contain}
footer .f4{ background:url(../img/footer/f4.png) center top no-repeat;background-size:contain}




.postCategory li{ line-height:25px; margin-top:-1px}
.postCategory li a{ color:#555}
.postCategory span{border-radius: 15px; background:#F90; text-indent:3rem; display:block; width:23px; height:23px; margin-right:10px; }
.findBusiness li{ line-height:20px; margin-top:-1px; height:100px; }
.findBusiness li a{ color:#333; line-height:28px}
.findBusiness span{border-radius: 15px; background:#F90; text-indent:3rem; display:block; width:23px; height:23px; margin-right:10px; }
.findBusiness li i{ font-size:14px; color:#999}
.ui-form-item-textarea{height:170px} 
.ui-form-item-textarea textarea{ height:150px;  overflow:hidden}

#select_box{white-space:nowrap; overflow:hidden; background:#fff;position: relative; height:40px; line-height:40px; padding-left:29px}
#select_box span{ display: inline-block; width:31%; text-align:center; border-left:1px solid #e0e0e0; font-size:14px; margin-left:-1px;height:40px; line-height:40px}
#select_box .left{ position:absolute;left:0px;top:0px; width:30px;; height:40px; border-right:1px solid #ddd; background:#fff;}
#select_box .right{ position:absolute;right:0px;top:0px; width:30px;; height:40px; border-left:1px solid #ddd; background:#fff;}
#select_box .right a{ background:url(../img/ico/right.png) center top no-repeat;background-size:contain; width:20px; height:20px; margin:9px 10px 0px 6px; display:inline-block}
#select_box .left a{ background:url(../img/ico/left.png) center top no-repeat;background-size:contain; width:20px; height:20px; margin:10px 0px 0px 4px; display:inline-block}
.icon-dopost{ background:url(../img/ico/dopost.png) center center no-repeat;background-size:contain; width:100%; height:100px;}
.icon-find-service{ background:url(../img/ico/findservice.png) center center no-repeat;background-size:contain; width:100%; height:100px;}

.div-he{height:auto !important;}

.tub-di{ width:200px; height:60px; clear:both;}
.div-tu{  width:50px;float:left; height:60px;}
.div-tu-2{ margin-left: 10px;float:left; height:60px; width:140px; font-size:13px;}
.div-tu-2 div{ height:20px; line-height:20px;}
.div-tu img{ border-radius:33px;}

.fo-li{height:120px}

.ullis{ width: 100%;height:49px; float: left;overflow: hidden;}
.ullis li{ width: 18%; text-align: center; margin: 5px auto;}
.ullis li:nth-child(1) a{ margin-right: 3px;}
.ullis li:nth-child(2){width: 64%;}
.ullis li:nth-child(3) a{margin-left:3px;}
.items:after{clear:both; display:block;content:"";}

.spec-preview{width:100%;height:60px;border:1px solid #DFDFDF;}
.spec-scroll{width:100%; overflow: hidden;}
.spec-scroll .prev{float:left;}
.spec-scroll .next{float:right;}
.spec-scroll .prev,.spec-scroll .next{display:block;font-family:"宋体";text-align:center;width:30px;height:59px; line-height:63px;cursor:pointer;text-decoration:none;transition:border,background-color .3s ease-in ;border:1px solid #FFF;}
.spec-scroll .prev:hover,.spec-scroll .next:hover{border:1px solid #EBEBEB;background:#EBEBEB;}
.spec-scroll .items{float:left;position:relative;width:100%;height:60px;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width:9999px;height:60px;}
.spec-scroll .items ul li{float:left;width:72px;text-align:center;height:60px; line-height: 30px; }
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;width:50px;height:55px;}
.spec-scroll .items ul li img:hover{border:2px solid #FF6600;padding:1px;}
.cheng{color:#F60;}

.yuyue{ border:1px solid #CCC; width:90%; border-radius:5px;height:42px; line-height:42px; padding-left: 4px;}
.fo-li .ullis a{display:block;height: 42px;width: 42px; line-height: 52px; border: 1px solid #ccc; margin-bottom: 6px;border-radius:23px; margin: 0px auto; margin-top: 0px;}



/*预约也，*/
.fei{ width:100%; height:40px; margin:15px 0px 20px 0px;}
.yue{ list-style-type:none; padding:0px; margin:0px; overflow:hidden;}
.yue li{ width:40px; border:1px solid #093; padding:10px 0px; border-radius:20px; float:left; text-align:center;   }
.jiazeng{ text-align:center; height:40px; line-height:40px; font-size:19px; background-color: #CCC; margin-bottom: 10px;}
.dizhi{ width:90%; height:90px; border:1px solid #CCC; overflow:hidden; margin:10px auto;border-radius:4px; }
.dizhi .shi{ height:90px; float:left; border-radius:4px; width:20%;line-height:100px; text-align:center;}
.dizhi .tianxie{ height:90px; float:left; width:79.6%;  border-left:1px solid #CCC;}
.dizhi .tianxie input{ height:43px; line-height:43px; width:100%;border:0px solid #FFF; border-bottom:1px solid #CCC;border-radius:0px; margin: 0px;}
.fuwu{ margin:0px auto; text-align:center; width:90%;margin-bottom:10px; }
.fuwu textarea{ width: 97.5%; height: 50px; line-height: 25px; font-size: 15px; border: 1px solid #CCC;border-radius:4px;padding-left:2%; margin-bottom: -4px; }
.quan input{ border:1px solid #CCC; height:35px; line-height:35px; width:98%;border-radius:4px; font-size: 15px; display: block; padding-left:2%;  margin: 7px 0px; }
.form-tij{ margin:0px auto; border:1px solid #CCC; font-size:18px; height:40px; line-height:40px; display:block; width:90%; background-color:#093; color:#FFF; font-weight:500; border-radius:4px;}
a{ text-decoration:none; color:#000;}
#shaohua{margin-bottom:10px;}
.quan{width: 100%; height: auto; margin-top: 10px;  }
.divs-zuo div{ height:35px; line-height:35px; border-bottom:1px solid #CCC; margin-left: 5px; }
.zumu{ height:25px !important; line-height:25px !important; background-color:#CCC; color:#999; padding-left:10px;border-bottom:0px solid #CCC;}
.sousuo{ border-radius:5px; width:90%; margin: 5px auto; margin:4px auto; display:block; border:1px solid #CCC; height:25px; line-height:25px;}
.divs-zuo{ width: 94%; float:left; overflow: auto; max-height: 450px; scrollbar-face-color: #333; /*立体滚动条的颜色*/}
.divs-you{width: 5%;float: left;}
.divs-you div{ text-align:center; border-bottom: 0px; height: 14px; line-height: 14px; font-size: 10px;}
.f4{background: url(../img/footer/f4.png) center top no-repeat;  background-size: contain; padding: 3px;}
.div-neigao{ padding: 15px 2px;}