
<style type="text/css">
  .hei{  overflow:auto; max-height: 100px;}
</style>
<form action="{:U()}" method="post" class="form-horizontal">

    <table width="100%" border="0" class="table table-bordered">
      <tr>
        <td width="22%">订单ID</td>
        <td width="78%">{$info.id}</td>
      </tr>
      <tr>
        <td>需求标题</td>
        <td>{$info.title}</td>
      </tr>
      <tr>
        <td>设置交易状态</td>
      
        <td style="padding:10px">
        <select name="status" class="form-control">
        <volist name="statusArr" id="vo">
           <option value="{$key}" <eq name="info[status]" value="$key">selected="selected" </eq>>{$vo}</option>
         </volist>
       </select></td>
      </tr>
      <tr>
        <td>期望解决时间</td>
        <td>{$info.time|date="y-m-d",###}</td>
      </tr>
      <tr>
        <td>示意图</td>
        <td><a target="_blank" href="{$info.img}">点击查看</a></td>
      </tr>
      <tr>
        <td>地点</td>
        <td>{$info.address}</td>
      </tr>
      <tr>
        <td>手机号</td>
        <td>{$info.mobile}</td>
      </tr>
       <tr>
        <td>订单总价</td>
        <td><span class="label label-danger">{$info.price}</span> 元</td>
      </tr>
      
       <tr  >
        <td>需求详情</td>
        <td ><div class="hei">{$info.content}</div></td>
      </tr>
      
    </table>
    <input type="hidden" value="{$ids}" name="id">

  <div class="modal-ajax-footer"> <a class="btn btn-primary ajax-post" href="{:U()}">确定</a> <a  class="btn btn-default" data-dismiss="modal">关闭</a> </div>
</form>


