<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
  <div class="am-u-sm-4 am-list-thumb">
    <a href="{:U('cms/article/article',array('id'=>$data['id']))}" class="">
      <img src="{$data.cover_id|get_cover='path'}" alt="{$data.title}"    />
    </a>
  </div>
  <div class=" am-u-sm-8 am-list-main">
    <h3 class="title-li">
      <a href="{:U('cms/article/article',array('id'=>$data['id']))}" class="">{$data.title}</a>
    </h3>
    <div class="div-jie">
    <span class="am-list">{:msubstr($data[description],0,26) } <span class=" span-you">{$data.comment}评论</span></span>
    </div>
  </div>
</li>
      

    

