<extend name="Public/base" />
<block name="body">
<div class="main-title">
  <h2>默认积分配置</h2>
</div>
<div class="tab-wrap">
<div class="clearfix  with-padding">
  <div class="pull-left"> <include file="_link"/> </div>
  <div class="pull-right">
    <select name="role" class="form-control">
      <volist name="role_list" id="vo"> 
      <option value="{:U('Role/configScore',array('id'=>$vo['id']))}"  <eq name="vo['id']" value="$this_role['id']">selected</eq> >{$vo.title} </option>
      </volist>
    </select>
  </div>
</div></div>

<!-- 访问授权 -->
<div class="with-padding">
  <form action="__SELF__" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal">
    <table class="table table-bordered table-hover">
      <volist name="score_keys" id="score">
        <tr>
          <td>{$score.title|htmlspecialchars}</td>
          <td><input type="text" name="score{$score.id}" value="{$score.value}" class="text input-large form-control"style="width: 400px"/>
            <span>（单位：{$score.unit|htmlspecialchars}）</span></td>
        </tr>
      </volist>
    </table>
    <input type="hidden" name="post_key" value="{$post_key}"/>
    <input type="hidden" name="id" value="{$this_role.id}" />
    <div class="buttons">
      <button type="submit" class="btn submit-btn ajax-post" target-form="auth-form">确 定</button>
      <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
  </form>
</div>
</block>
<block name="script"> 
  <script type="text/javascript" src="__STATIC__/qtip/jquery.qtip.min.js"></script>
  <link rel="stylesheet" type="text/css" href="__STATIC__/qtip/jquery.qtip.min.css" media="all">
  <script type="text/javascript" charset="utf-8">
        +function($){
        $('select[name="role"]').change(function(){
            location.href = this.value;
        });
        //导航高亮
        highlight_subnav('{:U('Role/configscore')}');
        }(jQuery);
    </script> 
</block>
